<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Admin</title>
  </head>
  <body>
    <div class="delete-content">
      <form
        action="/admin"
        method="post"
        style="
          border: 1px solid wheat;
          padding: 40px;
          border-radius: 10px;
          box-shadow: -3px 5px 0px 1px wheat;
        "
      >
        <h3>BECOME AN ADMIN</h3>
        <label for="admin_password">Password:</label>
        <input
          type="password"
          id="admin_password"
          name="admin_password"
          placeholder="password"
        />
        <!-- <button type="submit" style="justify-content: center">submit</button> -->
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
