<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>New</title>
</head>
<body>
    <div class="new-form-content">
                    <a href="/home"><button type="submit" style="justify-content: center;">Back</button></a>
        
        <form action="/new" method="POST" class="new-form" >
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" style="color: white;" placeholder="username" required>
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" style="color: white;" placeholder="message" required>
            <div style="display:flex;flex-direction: row; justify-content: space-between;">
                <button type="submit" style="justify-content: center;">submit</button>
            <!-- <a href="/home" type="reset"><button>Back</button></a> -->
            </div>
        </form>
    </div>

</body>
</html>
</body>
</html>
